## Python Concepts:  
    1. Variables
    2. Data Types
    3. Opr. 
    4. Conditional Stat.
    5. Looping Stat. 
    6. Function 
    7. File 
    9. OOP's

In [2]:
# List: 
list1 = []

In [4]:
print(type(list1))

<class 'list'>

In [5]:
list2 = list()
type(list2)

list

In [6]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [7]:
list1[1]

2

In [10]:
list1[-2]

9

In [ ]:
# [:]

In [9]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
list1[1:6]

[2, 3, 4, 5, 6]

In [15]:
list1[::2]

[1, 3, 5, 7, 9]

In [ ]:
list1[start value:End Value:Jumping value]

In [18]:
list1[1::2]

[2, 4, 6, 8, 10]

In [22]:
list1[:7]

[1, 2, 3, 4, 5, 6, 7]

In [23]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
list1[-2] = 90

In [27]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 90, 10]

In [30]:
list3 = [1,2,3, 'ram', 2.3,5.6,[3,4,6]]

In [31]:
type(list3)

list

In [ ]:
# Tuple
1. create tuple using () 
2. creat tuple using tuple() 
3. create tuple using without (). 
4. this immutable (can't modify)
5. traveld by Index values

In [32]:
t1 = () 
type(t1)

tuple

In [33]:
t2 = tuple()
type(t2)

tuple

In [36]:
t1=(1,2,3,4,5)

In [38]:
t3 = 10,9,8,7,6

In [39]:
type(t3)

tuple

In [44]:
c = 1,2,3

In [45]:
type(c)

tuple

In [46]:
t1

(1, 2, 3, 4, 5)

In [48]:
t1[-3]

3

In [49]:
t1[1:4]

(2, 3, 4)

In [50]:
tmixed = (1,2,3,'Helo',[1,2,3],5.6,9.0)

In [53]:
tmixed[3] = 4

TypeError: 'tuple' object does not support item assignment

In [ ]:
# dict 
1. Key & value based data 
2. create dict using {} 
3. create by dict() 
4. mutable - modify 
5. travel by key

In [54]:
d1 = {} 
type(d1)

dict

In [55]:
d2 = dict()
type(d2)

dict

In [57]:
d1 = {
    1 : 'ram', 
    2 : 'Madurai',
    3 : 9790843015
}

In [59]:
d1

{1: 'ram', 2: 'Madurai', 3: 9790843015}

In [63]:
d1[3]

9790843015

In [65]:
d2={
    'std_name' : ['Savitha','Kumar','Rajesh','Pavi'], 
    'std_age':(23,34,25,27),
    'std_Ph':[328828374,4397539583,87943753,348573975]
}

In [75]:
d2['std_Ph'][1] = 9790843015

In [76]:
d2

{'std_name': ['Savitha', 'Kumar', 'Rajesh', 'Pavi'],
 'std_age': (23, 34, 25, 27),
 'std_Ph': [328828374, 9790843015, 87943753, 348573975]}

In [77]:
import pandas as pd 
df = pd.DataFrame(d2)

In [78]:
df

  std_name  std_age      std_Ph
0  Savitha       23   328828374
1    Kumar       34  9790843015
2   Rajesh       25    87943753
3     Pavi       27   348573975

In [ ]:
# set :  
1. create set using {} 
2. create set()
3. modify

In [81]:
s1 = {1,2,3,4,5} 
type(s1)

set

In [82]:
s2 = {4,5,6,7,8}

In [83]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [84]:
s1.intersection(s2)

{4, 5}

In [85]:
s1.difference(s2)

{1, 2, 3}

In [86]:
s2.difference(s1)

{6, 7, 8}

In [ ]:
# Conditional Stat. 
1. Simple IF 
2. IF Else 
3. ELSE IF 
4. Nested IF

In [ ]:
# Syntax : 

if expression: 
    True Block codes

In [93]:
# eligible to vote 
age = int(input('Enter Age:'))
if age >= 18:
    print("You are eligible to vote!!")

Enter Age:23
You are eligible to vote!!

In [94]:
a = int(input("Enter A:"))
b = int(input("Enter B:"))
c = int(input("Enter C:")) 


if a > b and a > c :
    print('A is big')

Enter A:34
Enter B:2
Enter C:30
A is big

In [96]:
# if else : 

# eligible to vote 
age = int(input('Enter Age:'))
if age >= 18:
    print("You are eligible to vote!!") 
else: 
    print("You are not eligible to vote.!!")

Enter Age:18
You are eligible to vote!!

In [ ]:
if else syntax: 

if expr/condition : 
    True Block codes
else: 
    False Block codes

In [ ]:
else if - Syntax : 
    
if expr / condition:
    True block codes 
elif expr / codition: 
    True block codes 
else: 
    False block codes

In [97]:
a = int(input("Enter A:"))
b = int(input("Enter B:"))
c = int(input("Enter C:")) 


if a > b and a > c :
    print('A is big')
elif b > c: 
    print('B is big')
else:
    print('C is big')

Enter A:34
Enter B:230
Enter C:120
B is big

In [98]:
a = int(input("Enter A:"))
b = int(input("Enter B:"))
c = int(input("Enter C:")) 


if a > b :
    if a > c :
        print('A is big')
elif b > c: 
    print('B is big')
else:
    print('C is big')

Enter A:1000
Enter B:20
Enter C:89
A is big

In [ ]:
# looping stat. 
1. for loop -- else
2. while loop -- else

In [ ]:
# for loop

for init: conditio : in/de{
    
}
Python for loop

for variable in sequence:
    codes

In [ ]:
# sequence: 
  1. string = 'hello edunet'
  2. list, tuple - (1,2,3,4) - [1,2,3,4]
  3. range() while hlpes run the for loop.

In [100]:
for i in [1,2,3,4,5]: 
    print(i)

1
2
3
4
5

In [105]:
for i in range(1,11):
    print(i,". Edunet")

1 . Edunet
2 . Edunet
3 . Edunet
4 . Edunet
5 . Edunet
6 . Edunet
7 . Edunet
8 . Edunet
9 . Edunet
10 . Edunet

In [108]:
n = int(input("Enter N:"))
sum = 0
for i in range(1,n+1):
    sum = sum + i
else: 
    print("The sum of values :", sum)

Enter N:100
The sum of values : 5050

In [ ]:
# while loop

In [ ]:
initi-variable
while expresion: 
    codes 
    incre/decr..

In [111]:
i = 1
while i <= 10: 
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [112]:
i = 1
while i <= 10: 
    print(i)
    i = i + 1
else: 
    print("Codition failer")

1
2
3
4
5
6
7
8
9
10
Codition failer

In [ ]:
Function: 
    1. pre defined function 
    2. user defined function

In [ ]:
User Defined funtion: 

def function_Name(p1,p2...Pn):
    codes...  
    return values

In [114]:
def add_Two(v1, v2): 
    added = v1 + v2 
    return added

In [116]:
add_Two(2,3)
# call by values

5

In [117]:
a = int(input("Enter a"))
b = int(input("Enter b")) 

add_Two(a,b)
#call reference

Enter a23
Enter b34

57

In [120]:
def add_Two1():
    a = int(input("Enter a"))
    b = int(input("Enter b")) 
    c = a + b 
    print(c)

In [122]:
add_Two1()

Enter a89
Enter b545
634

In [2]:
## File  

file = open('C:/Users/RAMAR BOSE/Desktop/demoText.txt', 'r')

In [5]:
print(file.read())

In [6]:
data = open('c:/Users/RAMAR BOSE/Desktop/test.txt', 'r')

print(data.read())

Hello Edunet!

In [9]:
file=open("gangasireesha.txt","w")

In [10]:
file.write("my father name is sreeramulu")
file.write("hello")
file.close()

In [16]:
fileopen = open('gangasireesha.txt', 'r')
print(fileopen.read())

my father name is sreeramuluhello

In [17]:
writefile = open('rambs.txt', 'w')
writefile.write('Hello this is demo to AI file \n')
writefile.write('Edunet provide the AI Course \n')
writefile.close()

In [18]:
readfile = open('rambs.txt', 'r')
print(readfile.read())

Hello this is demo to AI file
Edunet provide the AI Course

In [19]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/a7/84/b63f11124f808b6f1e3389072bc36cc907929d7574e85f94bf8f18117fe4/mysql_connector_python-8.2.0-cp311-cp311-win_amd64.whl.metadata
  Downloading mysql_connector_python-8.2.0-cp311-cp311-win_amd64.whl.metadata (2.1 kB)
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp310-abi3-win_amd64.whl (527 kB)
     ---------------------------------------- 0.0/527.0 kB ? eta -:--:--
      --------------------------------------- 10.2/527.0 kB ? eta -:--:--
     -- ---------------------------------- 30.7/527.0 kB 435.7 kB/s eta 0:00:02
     -- ---------------------------------- 41.0/527.0 kB 281.8 kB/s eta 0:00:02
     ----- ------------------------------- 81.9/527.0 kB 416.7 kB/s eta 0:00:02
     -------- --------------------------- 122.9/527.0 kB 481.4 kB/s eta 0:00:01
     --------- -------------------------- 143.4/527.0 kB 500.5 kB/s eta 0:00:01
     ------------------ ----------------- 266.2/527.0 kB 780.5 kB/s eta 0:00:01
     -------------------- --------------- 297.0/527.0 kB 764.6 kB/s eta 0:00:01
     ----------------------------------- -- 491.5/527.0 kB 1.1 MB/s eta 0:00:01
     -------------------------------------- 527.0/527.0 kB 1.1 MB/s eta 0:00:00
Downloading mysql_connector_python-8.2.0-cp311-cp311-win_amd64.whl (14.2 MB)
   ---------------------------------------- 0.0/14.2 MB ? eta -:--:--
    --------------------------------------- 0.2/14.2 MB 7.6 MB/s eta 0:00:02
   - -------------------------------------- 0.4/14.2 MB 4.7 MB/s eta 0:00:03
   - -------------------------------------- 0.6/14.2 MB 4.6 MB/s eta 0:00:03
   -- ------------------------------------- 0.8/14.2 MB 4.8 MB/s eta 0:00:03
   -- ------------------------------------- 1.0/14.2 MB 4.6 MB/s eta 0:00:03
   --- ------------------------------------ 1.2/14.2 MB 4.2 MB/s eta 0:00:04
   --- ------------------------------------ 1.3/14.2 MB 4.2 MB/s eta 0:00:04
   ---- ----------------------------------- 1.5/14.2 MB 3.9 MB/s eta 0:00:04
   ---- ----------------------------------- 1.6/14.2 MB 3.7 MB/s eta 0:00:04
   ---- ----------------------------------- 1.6/14.2 MB 3.7 MB/s eta 0:00:04
   ----- ---------------------------------- 1.9/14.2 MB 3.6 MB/s eta 0:00:04
   ----- ---------------------------------- 1.9/14.2 MB 3.6 MB/s eta 0:00:04
   ----- ---------------------------------- 2.0/14.2 MB 3.3 MB/s eta 0:00:04
   ------ --------------------------------- 2.2/14.2 MB 3.4 MB/s eta 0:00:04
   ------ --------------------------------- 2.3/14.2 MB 3.2 MB/s eta 0:00:04
   ------ --------------------------------- 2.3/14.2 MB 3.2 MB/s eta 0:00:04
   ------ --------------------------------- 2.4/14.2 MB 3.0 MB/s eta 0:00:04
   ------- -------------------------------- 2.6/14.2 MB 3.1 MB/s eta 0:00:04
   ------- -------------------------------- 2.8/14.2 MB 3.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.9/14.2 MB 3.1 MB/s eta 0:00:04
   -------- ------------------------------- 3.0/14.2 MB 3.1 MB/s eta 0:00:04
   --------- ------------------------------ 3.2/14.2 MB 3.1 MB/s eta 0:00:04
   --------- ------------------------------ 3.3/14.2 MB 3.0 MB/s eta 0:00:04
   --------- ------------------------------ 3.3/14.2 MB 3.0 MB/s eta 0:00:04
   --------- ------------------------------ 3.4/14.2 MB 2.9 MB/s eta 0:00:04
   --------- ------------------------------ 3.5/14.2 MB 2.9 MB/s eta 0:00:04
   ---------- ----------------------------- 3.6/14.2 MB 2.8 MB/s eta 0:00:04
   ---------- ----------------------------- 3.8/14.2 MB 2.9 MB/s eta 0:00:04
   ----------- ---------------------------- 4.0/14.2 MB 2.9 MB/s eta 0:00:04
   ----------- ---------------------------- 4.1/14.2 MB 2.9 MB/s eta 0:00:04
   ------------ --------------------------- 4.3/14.2 MB 2.9 MB/s eta 0:00:04
   ------------ --------------------------- 4.5/14.2 MB 3.0 MB/s eta 0:00:04
   ------------ --------------------------- 4.6/14.2 MB 3.0 MB/s eta 0:00:04
   ------------- -------------------------- 4.7/14.2 MB 2.9 MB/s eta 0:00:04
   ------------- -------------------------- 4.9/14.2 MB 3.0 MB/s eta 0:00:04
   -------------- ------------------------- 5.1/14.2 MB 3.0 MB/s eta 0:00:04
   -------------- ------------------------- 5.3/14.2 MB 3.0 MB/s eta 0:00:03
   --------------- ------------------------ 5.5/14.2 MB 3.1 MB/s eta 0:00:03
   --------------- ------------------------ 5.7/14.2 MB 3.1 MB/s eta 0:00:03
   ---------------- ----------------------- 5.8/14.2 MB 3.1 MB/s eta 0:00:03
   ---------------- ----------------------- 5.9/14.2 MB 3.0 MB/s eta 0:00:03
   ----------------- ---------------------- 6.1/14.2 MB 3.1 MB/s eta 0:00:03
   ----------------- ---------------------- 6.2/14.2 MB 3.0 MB/s eta 0:00:03
   ----------------- ---------------------- 6.3/14.2 MB 3.0 MB/s eta 0:00:03
   ------------------ --------------------- 6.4/14.2 MB 3.0 MB/s eta 0:00:03
   ------------------ --------------------- 6.5/14.2 MB 3.0 MB/s eta 0:00:03
   ------------------ --------------------- 6.5/14.2 MB 3.0 MB/s eta 0:00:03
   ------------------ --------------------- 6.7/14.2 MB 3.0 MB/s eta 0:00:03
   ------------------- -------------------- 6.8/14.2 MB 2.9 MB/s eta 0:00:03
   ------------------- -------------------- 7.0/14.2 MB 3.0 MB/s eta 0:00:03
   -------------------- ------------------- 7.2/14.2 MB 3.0 MB/s eta 0:00:03
   -------------------- ------------------- 7.3/14.2 MB 3.0 MB/s eta 0:00:03
   -------------------- ------------------- 7.4/14.2 MB 2.9 MB/s eta 0:00:03
   --------------------- ------------------ 7.5/14.2 MB 3.0 MB/s eta 0:00:03
   --------------------- ------------------ 7.7/14.2 MB 3.0 MB/s eta 0:00:03
   ---------------------- ----------------- 7.8/14.2 MB 3.0 MB/s eta 0:00:03
   ---------------------- ----------------- 7.9/14.2 MB 2.9 MB/s eta 0:00:03
   ---------------------- ----------------- 8.0/14.2 MB 2.9 MB/s eta 0:00:03
   ---------------------- ----------------- 8.0/14.2 MB 2.9 MB/s eta 0:00:03
   ----------------------- ---------------- 8.2/14.2 MB 2.9 MB/s eta 0:00:03
   ----------------------- ---------------- 8.2/14.2 MB 2.9 MB/s eta 0:00:03
   ----------------------- ---------------- 8.4/14.2 MB 2.9 MB/s eta 0:00:03
   ------------------------ --------------- 8.6/14.2 MB 2.9 MB/s eta 0:00:02
   ------------------------ --------------- 8.7/14.2 MB 2.9 MB/s eta 0:00:02
   ------------------------ --------------- 8.8/14.2 MB 2.9 MB/s eta 0:00:02
   ------------------------- -------------- 8.9/14.2 MB 2.8 MB/s eta 0:00:02
   ------------------------- -------------- 9.0/14.2 MB 2.9 MB/s eta 0:00:02
   ------------------------- -------------- 9.0/14.2 MB 2.9 MB/s eta 0:00:02
   ------------------------- -------------- 9.0/14.2 MB 2.9 MB/s eta 0:00:02
   ------------------------- -------------- 9.0/14.2 MB 2.9 MB/s eta 0:00:02
   ------------------------- -------------- 9.0/14.2 MB 2.9 MB/s eta 0:00:02
   ------------------------- -------------- 9.0/14.2 MB 2.9 MB/s eta 0:00:02
   ---------------------------- ----------- 10.0/14.2 MB 2.9 MB/s eta 0:00:02
   ---------------------------- ----------- 10.1/14.2 MB 2.9 MB/s eta 0:00:02
   ---------------------------- ----------- 10.2/14.2 MB 2.9 MB/s eta 0:00:02
   ---------------------------- ----------- 10.2/14.2 MB 2.9 MB/s eta 0:00:02
   ---------------------------- ----------- 10.3/14.2 MB 2.8 MB/s eta 0:00:02
   ---------------------------- ----------- 10.3/14.2 MB 2.8 MB/s eta 0:00:02
   ----------------------------- ---------- 10.4/14.2 MB 2.8 MB/s eta 0:00:02
   ----------------------------- ---------- 10.5/14.2 MB 2.7 MB/s eta 0:00:02
   ------------------------------ --------- 10.7/14.2 MB 2.8 MB/s eta 0:00:02
   ------------------------------ --------- 10.7/14.2 MB 2.8 MB/s eta 0:00:02
   ------------------------------ --------- 10.7/14.2 MB 2.8 MB/s eta 0:00:02
   ------------------------------ --------- 10.7/14.2 MB 2.8 MB/s eta 0:00:02
   ------------------------------- -------- 11.3/14.2 MB 2.7 MB/s eta 0:00:02
   -------------------------------- ------- 11.5/14.2 MB 2.7 MB/s eta 0:00:01
   -------------------------------- ------- 11.6/14.2 MB 2.7 MB/s eta 0:00:01
   -------------------------------- ------- 11.6/14.2 MB 2.7 MB/s eta 0:00:01
   -------------------------------- ------- 11.6/14.2 MB 2.7 MB/s eta 0:00:01
   --------------------------------- ------ 11.8/14.2 MB 2.6 MB/s eta 0:00:01
   --------------------------------- ------ 12.0/14.2 MB 2.7 MB/s eta 0:00:01
   ---------------------------------- ----- 12.1/14.2 MB 2.7 MB/s eta 0:00:01
   ---------------------------------- ----- 12.3/14.2 MB 2.7 MB/s eta 0:00:01
   ----------------------------------- ---- 12.4/14.2 MB 2.7 MB/s eta 0:00:01
   ----------------------------------- ---- 12.7/14.2 MB 2.8 MB/s eta 0:00:01
   ------------------------------------ --- 12.8/14.2 MB 2.8 MB/s eta 0:00:01
   ------------------------------------ --- 13.0/14.2 MB 2.8 MB/s eta 0:00:01
   ------------------------------------ --- 13.1/14.2 MB 2.8 MB/s eta 0:00:01
   ------------------------------------- -- 13.3/14.2 MB 2.8 MB/s eta 0:00:01
   ------------------------------------- -- 13.5/14.2 MB 2.8 MB/s eta 0:00:01
   -------------------------------------- - 13.6/14.2 MB 2.8 MB/s eta 0:00:01
   -------------------------------------- - 13.8/14.2 MB 2.8 MB/s eta 0:00:01
   -------------------------------------- - 13.9/14.2 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------  14.0/14.2 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------  14.1/14.2 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.2 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.2 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------- 14.2/14.2 MB 2.8 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.2.0 protobuf-4.21.12
Note: you may need to restart the kernel to use updated packages.

In [ ]:
SQL : 
    1. DDL 
        creating  
         - Data base
         - Table 
         - Alter 
    2. DML 
         - Insert 
         - Delete 
         - update 
         - Select
    3. DCL 
         - Grant 
         - Revoke(*) 
            
    4. DTL 
        - Revoke 
        - commit